# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/

# Model & data placeholders
*.joblib
*.pkl
.ipynb_checkpoints/
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# Editor
.vscode/